In [8]:
from google.colab import files
import pandas as pd

files.upload()

Saving salaries_by_college_major.csv to salaries_by_college_major.csv

{'salaries_by_college_major.csv': b'Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group\r\nAccounting,46000.00,77100.00,42200.00,152000.00,Business\r\nAerospace Engineering,57700.00,101000.00,64300.00,161000.00,STEM\r\nAgriculture,42600.00,71900.00,36300.00,150000.00,Business\r\nAnthropology,36800.00,61500.00,33800.00,138000.00,HASS\r\nArchitecture,41600.00,76800.00,50600.00,136000.00,Business\r\nArt History,35800.00,64900.00,28800.00,125000.00,HASS\r\nBiology,38800.00,64800.00,36900.00,135000.00,STEM\r\nBusiness Management,43000.00,72100.00,38800.00,147000.00,Business\r\nChemical Engineering,63200.00,107000.00,71900.00,194000.00,STEM\r\nChemistry,42600.00,79900.00,45300.00,148000.00,STEM\r\nCivil Engineering,53900.00,90500.00,63400.00,148000.00,STEM\r\nCommunications,38100.00,70000.00,37500.00,143000.00,HASS\r\nComputer Engineering,61400.00,105000.00,66100.00,162000.00,STEM\r\nComputer Science,55900.00,95500.00,56000.00,154000.00,STEM\r\nConstruction,53700.00,88900.00,56300.00,171000.00,Business\r\nCriminal Justice,35000.00,56300.00,32200.00,107000.00,HASS\r\nDrama,35900.00,56900.00,36700.00,153000.00,HASS\r\nEconomics,50100.00,98600.00,50600.00,210000.00,Business\r\nEducation,34900.00,52000.00,29300.00,102000.00,HASS\r\nElectrical Engineering,60900.00,103000.00,69300.00,168000.00,STEM\r\nEnglish,38000.00,64700.00,33400.00,133000.00,HASS\r\nFilm,37900.00,68500.00,33900.00,136000.00,HASS\r\nFinance,47900.00,88300.00,47200.00,195000.00,Business\r\nForestry,39100.00,62600.00,41000.00,111000.00,Business\r\nGeography,41200.00,65500.00,40000.00,132000.00,HASS\r\nGeology,43500.00,79500.00,45000.00,156000.00,STEM\r\nGraphic Design,35700.00,59800.00,36000.00,112000.00,HASS\r\nHealth Care Administration,38800.00,60600.00,34600.00,101000.00,Business\r\nHistory,39200.00,71000.00,37000.00,149000.00,HASS\r\nHospitality & Tourism,37800.00,57500.00,35500.00,124000.00,Business\r\nIndustrial Engineering,57700.00,94700.00,57100.00,173000.00,STEM\r\nInformation Technology (IT),49100.00,74800.00,44500.00,129000.00,STEM\r\nInterior Design,36100.00,53200.00,35700.00,107000.00,HASS\r\nInternational Relations,40900.00,80900.00,38200.00,157000.00,HASS\r\nJournalism,35600.00,66700.00,38400.00,145000.00,HASS\r\nManagement Information Systems (MIS),49200.00,82300.00,45300.00,146000.00,STEM\r\nMarketing,40800.00,79600.00,42100.00,175000.00,Business\r\nMath,45400.00,92400.00,45200.00,183000.00,STEM\r\nMechanical Engineering,57900.00,93600.00,63700.00,163000.00,STEM\r\nMusic,35900.00,55000.00,26700.00,134000.00,HASS\r\nNursing,54200.00,67000.00,47600.00,98300.00,Business\r\nNutrition,39900.00,55300.00,33900.00,99200.00,HASS\r\nPhilosophy,39900.00,81200.00,35500.00,168000.00,HASS\r\nPhysician Assistant,74300.00,91700.00,66400.00,124000.00,STEM\r\nPhysics,50300.00,97300.00,56000.00,178000.00,STEM\r\nPolitical Science,40800.00,78200.00,41200.00,168000.00,HASS\r\nPsychology,35900.00,60400.00,31600.00,127000.00,HASS\r\nReligion,34100.00,52000.00,29700.00,96400.00,HASS\r\nSociology,36500.00,58200.00,30700.00,118000.00,HASS\r\nSpanish,34000.00,53100.00,31000.00,96400.00,HASS\r\nSource: PayScale Inc.,,,,,'}

In [10]:
df = pd.read_csv("salaries_by_college_major.csv")
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [11]:
df.shape

(51, 6)

In [12]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [13]:
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [14]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [15]:
clean_df = df.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [21]:
clean_df["Starting Median Salary"].max()

74300.0

In [22]:
clean_df["Starting Median Salary"].idxmax()

43

In [25]:
clean_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [34]:
clean_df["Mid-Career Median Salary"].idxmax()
clean_df.loc[8]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

In [38]:
clean_df["Starting Median Salary"].idxmin()
clean_df.loc[49]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

In [40]:
clean_df["Mid-Career Median Salary"].idxmin()
clean_df.loc[18]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

In [42]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])
clean_df.insert(1, "Spread", spread_col)
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [43]:
low_risk = clean_df.sort_values("Spread")
low_risk[["Undergraduate Major", "Spread"]].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [47]:
highest_potential = clean_df.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
highest_potential[["Undergraduate Major", "Mid-Career 90th Percentile Salary"]].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [55]:
pd.options.display.float_format = '{:,.2f}'.format 
clean_df.groupby('Group').mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"

Undergraduate Major                  16.666667
Spread                               16.666667
Starting Median Salary               16.666667
Mid-Career Median Salary             16.666667
Mid-Career 10th Percentile Salary    16.666667
Mid-Career 90th Percentile Salary    16.666667
dtype: float64